{{- define "main" -}}
    <main aria-role="main" id="home">
       <section id="introduction">
           <div class="content">
             {{- with .Site.GetPage "/headless_introduction" -}}
              {{- .Content -}}
             {{- end -}}
            <div id="contact">
              <a id="hide" href="#hide" class="hide">Contact<span class="caret">^</span></a>
              <a id="show" href="#show" class="show">Contact<span class="caret">^</span></a>
              <div class="details">
               {{- with .Site.GetPage "/headless_contact" -}}
                {{- .Content -}}
               {{- end -}}
              </div>
            </div>
        </div>
       </section>
       <div class="columns">
         <section id="project" class="column">
         		<h3> The Project </h3>
         		<div class="wrapper">
      				{{- with .Site.GetPage "/headless_project" -}}
      					{{- .Content -}}
      				{{- end -}}    
      				{{- $sci_logo := resources.Get "image/sci_logo_white.gif" -}}
      				<a id="sci_link" href="https://stimuleringsfonds.nl/en/"><img id="sci_logo" src="{{ $sci_logo.RelPermalink}}"></a>
    			</div>
         </section>
         <section id="activity" class="column">
              {{- partial "activity_log" . -}}
         </section>
      </div>
    </main>
{{- end -}}
 