{{- define "main" -}}
    <main aria-role="main" id="home">
       <section id="introduction">
         {{- with .Site.GetPage "/headless_introduction" -}}
          {{- .Content -}}
         {{- end -}}
        <div id="contact">
          <a id="hide" href="#hide" class="hide">Contact ↓</a>
          <a id="show" href="#show" class="show">Contact ↑</a>
          <div class="details">
           {{- with .Site.GetPage "/headless_contact" -}}
            {{- .Content -}}
           {{- end -}}
          </div>
        </div>
       </section>
       <div class="columns">
         <section id="project" class="column">
         		<h3> Project </h3>
         		<div class="wrapper">
      				{{- with .Site.GetPage "/headless_project" -}}
      					{{- .Content -}}
      				{{- end -}}    
      				{{- $sci_logo := resources.Get "image/sci_logo.gif" -}}
      				<a id="sci_link" href="https://stimuleringsfonds.nl/en/"><img id="sci_logo" src="{{ $sci_logo.RelPermalink}}"></a>
    			</div>
         </section>
         <section id="activity" class="column">
              {{- partial "activity_log" . -}}
         </section>
      </div>
    </main>
{{- end -}}
 