@font-face {
    font-family: 'text_font';
    src: url('../fonts/ibmplexsans-regular.eot');
    src: url('../fonts/ibmplexsans-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ibmplexsans-regular.woff2') format('woff2'),
         url('../fonts/ibmplexsans-regular.woff') format('woff'),
         url('../fonts/ibmplexsans-regular.ttf') format('truetype');    
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'headline_font';
    src: url('../fonts/hk-gothic-webfont.eot');
    src: url('../fonts/hk-gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/hk-gothic-webfont.woff2') format('woff2'),
         url('../fonts/hk-gothic-webfont.woff') format('woff'),
         url('../fonts/hk-gothic-webfont.ttf') format('truetype');    
    font-weight: normal;
    font-style: normal;

}
@mixin text_font {
    font-family: 'text_font',
                 sans-serif;
    font-weight: normal;
    font-style: normal;
}
@mixin headline_font {
    font-family: 'headline_font',
                 sans-serif;
    font-weight: normal;
    font-style: normal;
}

