@import "partials/reset";
@import "partials/fonts";

$offset1: 4px;
$offset2: 8px;
$offset3: 16px;
$offset4: 42px;
$offset5: 64px;
$offset6: 136px;
$offset7: 180px;

// content width
$content-width: 100%;
$not-small-content-width: 40%;

$f3: 28px;
$f4: 23px;
$f5: 20px;
$f6: 16px;

$breakpoint-not-small: 'screen and (min-width: 64em)' !default;
$white: #fff;
$bronze-2: #5E583B;
$bronze-1: #4F4A30; 
$bronze-1-transparent-gradient: linear-gradient(0deg, rgba(79, 74, 48, 1) 7%, rgba(79, 74, 48, 0) 100%);
$bronze-0: #403C26; 
$lightgray: #b5b5b5;

$transition-time: 0.3s;

$content-padding-left: $offset3;
$content-padding-right: $offset3;

h1, h2, h3, h4, p, strong, a, span.date {
    color: $white;
}

h1 {
    @include headline_font;
    font-size: $f3;   
}

h2 {
    @include text_font;
    font-size: $f6; 
}

h3 {
    @include headline_font;
    letter-spacing: 0px;
    font-size: $f4;
}

h4 {
    @include headline_font;
    font-size: $f6;   
}

p, footer {
    @include text_font;
    line-height: 24px;
    font-size: $f6;
}

a {
    @include text_font;
    font-size: $f6;
}

figure {
    width: 100%;
    img {
        width: 100%;
    }
}

html.no-js .fadein {
    opacity: 1;
}

html.js .fadein {
        opacity: 1.0; 
        -webkit-transition: all $transition-time ease-in; 
        -moz-transition: all $transition-time ease-in; 
        -ms-transition: all $transition-time ease-in; 
        -o-transition: all $transition-time ease-in; 

        &.entered {
            opacity: 1;
        }
}

body {
    display: flex;
    flex-direction: column;
    height: auto;
    overflow-y: scroll;
    background-color: $bronze-2;

    header {
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: $bronze-2;

        .content {
            width: $content-width;
            padding-top: $offset3;
            padding-left: $content-padding-left;
            padding-right: $content-padding-right; 
            padding-bottom: $offset3;      

            @media #{$breakpoint-not-small} {
                width: $not-small-content-width;
                padding-left: 0;
                padding-right: 0;   
                padding-bottom: $offset3;                  
            }        
        }
    }

    main#home {
            section {
                display: flex;
                justify-content: center;
                height: 100%;
                box-sizing: border-box;
                width: 100%;

                .content {
                    width: $content-width;
                    padding-bottom: $offset2;
                    padding-left: $content-padding-left;
                    padding-right: $content-padding-right;
                    padding-bottom: $offset3;

                    @media #{$breakpoint-not-small} {
                      padding-bottom: $offset4;
                      padding-left: 0;
                      padding-right: 0;
                      width: $not-small-content-width;
                    }   

                    h3 {               
                        padding-top: $offset3;
                        padding-bottom: $offset3;                   
                        @media #{$breakpoint-not-small} {
                            padding-top: $offset3;
                            padding-bottom: $offset3;
                        }                                   
                    }     

                    div.wrapper {
                        display: block;
                        width: 100%;
                        overflow-y: auto;
                        box-sizing: border-box;
                        padding-bottom: $offset3;                    
                    }
                }

                &#introduction {
                    background-color: $bronze-2;
                }

                &#about {
                    background-color: $bronze-1;
                    position: relative;

                    .content {
                        a#show, a#hide {
                            padding-top: $offset2;
                            position: relative;
                            @include text_font;
                            font-size: $f6;
                            position: absolute;
                            bottom: 15px;
                            z-index: 99999;
                        }

                        a .caret {
                            position: absolute;
                            right: -15px;
                            bottom: 0;
                            display: inline-block;
                        } 

                        a#hide,
                        a#show:target {
                            display: none;
                        }

                        a#show:target ~ a#hide {
                            display: inline-block;

                            .caret {
                                bottom: -5px;
                            }
                        }

                        a#hide:target ~ div.wrapper {
                          height: 100px;
                          overflow: hidden;

                          &:after {
                            content: "";
                            width: 100%;
                            position: absolute;
                            bottom: 0;
                            height: 100%;
                            background: $bronze-1-transparent-gradient;
                          }
                        }

                        a#show:target ~ div.wrapper {
                            height: auto;
                            &:after {
                                display: none;
                            }
                        }
                 
                        a#show .caret {
                            transform: rotate(180deg);
                            bottom: -3px;
                        }   

                        // default "state" of the wrapper element when page loads
                        // styles below hide the about section when page is loaded
                        div.wrapper {
                            position: relative;
                            height: 100px;
                            overflow: hidden;  
                            &:after {
                                content: "";
                                width: 100%;
                                position: absolute;
                                bottom: 0;
                                height: 100%;
                                background: $bronze-1-transparent-gradient;
                            }

                            img, video {
                                padding-bottom: $offset3;
                            }

                            h4 {
                                padding-bottom: $offset3;                        
                                padding-top: $offset4;                   
                            }

                            h4:first-of-type {
                                padding-top: 0;
                            }                    
                            p {
                                padding-bottom: $offset3;                                               
                            }   
                            strong {
                                display: inline-block;
                                padding-top: $offset3;
                                padding-bottom: $offset2;
                                @media #{$breakpoint-not-small} {
                                    padding-top: $offset4;
                                    padding-bottom: $offset3;
                                }                          
                            }

                            a#sci_link {
                                display: block;
                    
                                img#sci_logo {
                                    width: 100px;
                                }                         
                            }                           
                        }
                    }
                }     

                &#activity {
                    background-color: $bronze-0;

                    ul#activity_log {
                        width: 100%;

                        li:first-child {
                           padding-top: 0;
                        }

                        li:last-child {
                            padding-bottom: 0;
                        }

                        li {
                            width: 100%;
                            display: block;                        
                            padding-top: $offset4;
                            box-sizing: border-box;    

                            div.activity_content {
                                width: 100%;
                                box-sizing: border-box;

                                span.date {
                                    display: block;
                                    color: $lightgray;
                                    @include text_font;
                                    font-size: $f6;
                                    padding-bottom: $offset2;
                                }

                                figure, h4, p {
                                    padding-bottom: $offset3;

                                   &:last-child {
                                        padding-bottom: 0;
                                    }                                    
                                }
                                figcaption {
                                    display: block;
                                    color: $lightgray;
                                    @include text_font;
                                    font-size: $f6;  
                                }
                            }
                        }
                    }
                }
            }          
    }

    footer {
        color: $white;
        padding-top: $offset1;
        padding-bottom: $offset2;
        background-color: $bronze-0;
        display: flex;
        justify-content: center;

        .content {
            width: $content-width;
            display: flex;
            justify-content: space-between;
            padding-left: $content-padding-left;
            padding-right: $content-padding-right;

            @media #{$breakpoint-not-small} {
                width: $not-small-content-width;
                padding-left: 0;
                padding-right: 0;                
            }            
        }

    }
}

