@import "partials/reset";
@import "partials/fonts";

$offset1: 4px;
$offset2: 8px;
$offset3: 16px;
$offset4: 42px;
$offset5: 64px;
$offset6: 136px;
$offset7: 180px;

// offset exceptions
$header_h1_offset: 34px;
$column_h3_mobile_offset: 31px;


// content width
$not-small-content-width: 45%;

// $f0: 4.0rem;
// $f1: 2.8rem;
// $f2: 2.0rem;
$f2: 35px;
$f3: 28px;
$f4: 23px;
$f5: 20px;
$f6: 16px;
$f7: 14px;

$breakpoint-not-small: 'screen and (min-width: 64em)' !default;
$black: #000;
$almostblack: #0A0A0A;
$white: #fff;

$bronze-2: #5B5636; 
$bronze-1: #4F4A30; 
$bronze-1-transparent-gradient: linear-gradient(0deg, 
                                                rgba(79, 74, 48, 1) 15%, 
                                                rgba(79, 74, 48, 0) 100%);
$bronze-0: #464229; 


$lightgray: #999999;
$darkgray: #858585;
$gray: #303030;

$scrollbar-track-color: $gray;
$scrollbar-thumb-color: #9E9E98;
$scrollbar-thumb-hover-color: #D9D9D9;
$transition-time: 0.3s;
$border-width: 1px;
$border-color: $darkgray;
$headlines-alignment: 'left';

$content-padding-left: $offset3;
$content-padding-right: $offset4;
$content-padding-left-ns: $offset4;
$content-padding-right-ns: $offset7;

h1, h2, h3, h4, p, strong, a, span.date {
    color: $white;
}

h1 {
    @include headline_font;
    font-size: $f3;   
}

h2 {
    @include text_font;
    //line-height: 36px;
    font-size: $f6; 
}

#contact .details p,
#contact .details a {
    @include text_font;
    font-size: $f5;   
}

h3 {
    @include headline_font;
    letter-spacing: 0px;
    font-size: $f4;
}

h4 {
    @include headline_font;
    font-size: $f5;   
}

p, footer {
    @include text_font;
    line-height: 24px;
    font-size: $f6;
}

a {
    @include text_font;
    font-size: $f5;
}

figure {
    width: 100%;
    img {
        width: 100%;
    }
}

html.no-js .fadein {
    opacity: 1;
}

html.js .fadein {
        opacity: 1.0; 
        -webkit-transition: all $transition-time ease-in; 
        -moz-transition: all $transition-time ease-in; 
        -ms-transition: all $transition-time ease-in; 
        -o-transition: all $transition-time ease-in; 

        &.entered {
            opacity: 1;
        }
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: $scrollbar-track-color;
}
::-webkit-scrollbar-thumb {
  background: $scrollbar-thumb-color;
}
::-webkit-scrollbar-thumb:hover {
  background: $scrollbar-thumb-hover-color;
} 

body {
    display: flex;
    flex-direction: column;
    height: auto;
    overflow-y: scroll;
    background-color: $bronze-2;

    header {
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: $bronze-2;
        padding-bottom: $header_h1_offset;
        padding-top: $offset3;
        text-align: center;
        width: 100%;
        @media #{$breakpoint-not-small} {
            padding-bottom: $header_h1_offset;
            text-align: left;
        }

        .content {
            width: $not-small-content-width;
            h1 {
                text-align: left;        
            }
        }
    }

    main#home {
        height: 100%;
        width: 100%;

            section {
                display: flex;
                justify-content: center;
                height: 100%;
                box-sizing: border-box;
                width: 100%;

                .content {
                    width: $not-small-content-width;
                    padding-bottom: $offset2;
                    @media #{$breakpoint-not-small} {
                      padding-bottom: $offset4;                        
                    }   

                    h3 {               
                        text-align: #{$headlines-alignment};
                        padding-top: $offset2;
                        padding-bottom: $offset3;                   
                        @media #{$breakpoint-not-small} {
                            padding-top: $offset3;
                            padding-bottom: $offset3;
                        }                                   
                    }     

                    div.wrapper {
                        display: block;
                        width: 100%;
                        overflow-y: auto;
                        box-sizing: border-box;
                        padding-bottom: $offset3;
                        @media #{$breakpoint-not-small} {
                          padding-bottom: $offset6;                        
                        }                      
                    }
                }

                &#introduction {
                    background-color: $bronze-2;

                    div.content {


                    }
                }

                &#about {
                    background-color: $bronze-1;
                    position: relative;

                    a#show, a#hide {
                        padding-top: $offset2;
                        position: relative;
                        @include text_font;
                        font-size: $f6;
                        position: absolute;
                        bottom: 15px;
                        z-index: 99999;
                    }

                    a .caret {
                        position: absolute;
                        right: -15px;
                        bottom: 0;
                        display: inline-block;
                    } 

                    a#show,
                    a#hide:target {
                        display: none;
                    }

                    a#hide:target + a#show {
                        display: inline-block;

                        .caret {
                            bottom: -5px;
                        }
                    }

                    a#show:target ~ div.wrapper {
                      height: 80px;
                      overflow: hidden;

                      &:after {
                        content: "";
                        width: 100%;
                        position: absolute;
                        bottom: 0;
                        height: 100%;
                        background: $bronze-1-transparent-gradient;
                      }
                      //display: none;
                    }

                    a#hide:target ~ div.wrapper {
                        height: auto;
                    }

                    a#hide .caret {
                        transform: rotate(180deg);
                        bottom: 1px;
                    }    

                    div.wrapper {
                        position: relative;

                        img, video {
                            padding-bottom: $offset3;
                        }

                        h4 {
                            //padding-left: $content-padding-left;
                            padding-bottom: $offset3;                        
                            padding-top: $offset4;
                            @media #{$breakpoint-not-small} {
                               // padding-left: $content-padding-left-ns;
                            }                     
                        }

                        h4:first-of-type {
                            padding-top: 0;
                        }                    
                        p {
                            //padding-left: $content-padding-left;
                            // padding-right: $content-padding-right;
                            padding-bottom: $offset3;                        
                            @media #{$breakpoint-not-small} {
                                // padding-left: $content-padding-left-ns;
                                // padding-right: $content-padding-right-ns;
                            }                           
                        }   
                        strong {
                            display: inline-block;
                            padding-top: $offset3;
                            padding-bottom: $offset2;
                            @media #{$breakpoint-not-small} {
                                padding-top: $offset4;
                                padding-bottom: $offset3;
                            }                          
                        }

                        a#sci_link {
                            display: block;
                            padding-left: $content-padding-left;
                            @media #{$breakpoint-not-small} {
                                padding-left: $content-padding-left-ns;
                            }                          
                            img#sci_logo {
                                width: 100px;
                            }                         
                        }                           
                    }
                }     

                &#activity {
                    background-color: $bronze-0;

                    // border-top: $border-width solid $border-color;
                    @media #{$breakpoint-not-small} {
                        border-top: none;
                    }

                    ul#activity_log {
                        padding-top: $offset3;
                        @media #{$breakpoint-not-small} {
                            padding-top: $offset4;
                        }
                        padding-bottom: $offset5;                        
                        width: 100%;

                        li:first-child {
                           padding-top: 0;
                        }

                        li:last-child {
                            padding-bottom: 0;
                        }

                        li {
                            width: 100%;
                            display: block;                        
                            //padding-left: $content-padding-left;
                            //padding-right: $content-padding-right;
                            padding-top: $offset3;
                            //padding-bottom: $offset4;
                            box-sizing: border-box;
                            @media #{$breakpoint-not-small} {
                                //padding-left: $content-padding-left-ns;
                                //padding-right: $content-padding-right-ns;
                                padding-top: $offset4;
                                //padding-bottom: $offset5;                            
                            }     

                            div.content {
                                width: 100%;
                                box-sizing: border-box;

                                span.date {
                                    display: block;
                                    color: $lightgray;
                                    @include text_font;
                                    font-size: $f5;
                                    padding-bottom: $offset3;
                                }

                                figure, h4, p {
                                    padding-bottom: $offset3;

                                   &:last-child {
                                        padding-bottom: 0;
                                    }                                    
                                }
                                figcaption {
                                    display: block;
                                    color: $lightgray;
                                    @include text_font;
                                    font-size: $f5;  
                                    padding-top: $offset1;                                  
                                }
                            }
                        }
                    }
                }
            }          
    }

    footer {
        color: $white;
        background-color: $black;
        // border-top: $border-width solid $white;
        padding-top: $offset1;
        padding-bottom: $offset2;
        padding-left: $content-padding-left;
        text-align: left;

        @media #{$breakpoint-not-small} {
            padding-left: 0;
            text-align: center;
        }

    }
}

