@import "partials/reset";
@import "partials/fonts";

$offset1: 0.25rem;
$offset2: 0.5rem;
$offset3: 1rem;
$offset4: 2rem;
$offset5: 4rem;
$offset6: 8.5rem;
//$offset7: 13rem;

// $f0: 4.0rem;
// $f1: 2.8rem;
// $f2: 2.0rem;
// $f3: 1.5rem;
$f4: 1.3rem;
$f5: 1.15rem;
$f6: 1.0rem;
$f7: 0.9rem;

$breakpoint-not-small: 'screen and (min-width: 64em)' !default;
// $breakpoint-medium: 'screen and (min-width: 30em) and (max-width: 60em)' !default;
// $breakpoint-large: 'screen and (min-width: 60em)' !default;
// $breakpoint-verylarge: 'screen and (min-width: 100em)' !default;
$black: #0A0A0A;
$white: #fff;
$bronze: #5F5B38; //#585738;
$gray: #302F23;
$scrollbar-track-color: $gray;
$scrollbar-thumb-color: #9E9E98;
$scrollbar-thumb-hover-color: #D9D9D9;
$transition-time: 0.275s;
$border-width: 1px;
$headlines-alignment: 'left';

$content-padding-left: $offset2;
$content-padding-right: $offset3;
$content-padding-left-ns: $offset4;
$content-padding-right-ns: $offset6;

h1, h2, h3, p, strong, a {
    color: $white;
}

h1 {
    @include headline_font;
    font-size: $f4;
}

h2 {
    @include headline_font;
    text-transform: uppercase;
    font-size: $f5;

}

h3 {
    @include headline_font;
    font-size: $f5;    
}

p, footer {
    @include text_font;
    line-height: 1.2em;
    font-size: $f5;

    strong {
        @include headline_font;          
        line-height: 1.3em;      
    } 
    // @media #{$breakpoint-not-small} {
    //     font-size: $f5;
    // }        
}

figure {
    width: 100%;
    img {
        width: 100%;
    }
}

html.js img.fadein {
        opacity: 0.0; 
        -webkit-transition: all $transition-time ease-in; 
        -moz-transition: all $transition-time ease-in; 
        -ms-transition: all $transition-time ease-in; 
        -o-transition: all $transition-time ease-in; 

        &.loaded {
            opacity: 1;
        }
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: $scrollbar-track-color;
}
::-webkit-scrollbar-thumb {
  background: $scrollbar-thumb-color;
}
::-webkit-scrollbar-thumb:hover {
  background: $scrollbar-thumb-hover-color;
} 


body {
    display: flex;
    flex-direction: column;
    height: auto;
    overflow-y: scroll;
    background-color: $black;

    @media #{$breakpoint-not-small} {
        height: 100vh;
        overflow-y: hidden;
    }

    header {
        width: 100%;
        display: block;
        background-color: $black;
        border-bottom: $border-width solid $white; 
        padding-bottom: $offset3;
        padding-top: $offset3;
        color: $white;
        text-align: center;
        @media #{$breakpoint-not-small} {
            text-align: left;
        }

        h1 {
            color: $white;
            text-align: left;
            padding-left: $content-padding-left;
            @media #{$breakpoint-not-small} {
                text-align: center;
                padding-left: 0; 

            }            
        }
    }


    main#home {
        display: flex;
        overflow: hidden;
        height: 100%;
        flex-wrap: wrap;
        @media #{$breakpoint-not-small} {
            flex-wrap: nowrap;
        }

        section {
            display: inline-block;
            height: 100%;
            display: flex;
            flex-direction: column;
            width: 100%;
            @media #{$breakpoint-not-small} {
                width: 50%;
            }

            h2 {               
                text-align: #{$headlines-alignment};
                padding-left: $content-padding-left;
                padding-top: $offset2;
                padding-bottom: $offset2;
                border-bottom: $border-width solid $white; 
                @media #{$breakpoint-not-small} {
                    padding-left: $content-padding-left-ns;
                }                                   
            }

            div.wrapper {
                width: 100%;
                overflow-y: auto;
                scrollbar-width: thin;
                scrollbar-color: $scrollbar-thumb-color $scrollbar-track-color;
            }  


            &#project {
                background-color: $black;

                div.wrapper {
                    box-sizing: border-box;
                    width: 100%;
                    padding-bottom: $offset3;
                    @media #{$breakpoint-not-small} {
                        padding-bottom: $offset5;                        
                    }  
                    img {
                        padding-bottom: $offset3;
                    }
                    h2 {
                        background-color: $black;
                        display: block;
                    }
                    h3 {
                        padding-left: $content-padding-left;
                        padding-bottom: $offset3;                        

                        @media #{$breakpoint-not-small} {
                            padding-left: $content-padding-left-ns;
                        }                           
                    }                    
                    p {
                        padding-left: $content-padding-left;
                        padding-right: $content-padding-right;
                        padding-bottom: $offset3;                        
                        @media #{$breakpoint-not-small} {
                            padding-left: $content-padding-left-ns;
                            padding-right: $content-padding-right-ns;
                        }                           
                    }   
                    strong {
                        display: inline-block;
                        padding-top: $offset3;
                        padding-bottom: $offset2;
                        @media #{$breakpoint-not-small} {
                            padding-top: $offset4;
                            padding-bottom: $offset3;
                        }                          
                    }     
                }     
            }

            &#activity {
                background-color: $bronze;
                border-top: $border-width solid $white;
                @media #{$breakpoint-not-small} {
                    border-left: $border-width solid $white;
                    border-top: none;

                }

                h2 {
                    background-color: $bronze; 
                }

                ul#activity_log {
                    padding-top: $offset4;
                    width: 100%;

                    li:first-child {
                       padding-top: 0;
                    }

                    li:last-child {
                        border-bottom: none;
                    }

                    li {
                        width: 100%;
                        display: block;                        
                        padding-left: $content-padding-left;
                        padding-right: $content-padding-right;
                        padding-top: $offset3;
                        padding-bottom: $offset4;
                        box-sizing: border-box;
                        border-bottom: $border-width solid $gray;
                        @media #{$breakpoint-not-small} {
                            padding-left: $content-padding-left-ns;
                            padding-right: $content-padding-right-ns;
                            padding-top: $offset4;
                            padding-bottom: $offset5;                            
                        }     

                        div.content {
                            width: 100%;
                            box-sizing: border-box;

                            span.date {
                                display: block;
                                @include text_font;
                                font-size: $f7;
                                color: white;
                                padding-bottom: $offset3;
                            }

                            h3 { 
                                padding-bottom: $offset3;
                            }

                            p {
                                padding-bottom: $offset3;

                                &:last-child {
                                    padding-bottom: 0;
                                }
                            }
                        }
                    }
                }
            }          
        }
    }

    footer {
        color: $white;
        background-color: $black;
        border-top: $border-width solid $white;
        padding-top: $offset1;
        padding-bottom: $offset2;
        padding-left: $content-padding-left;
        text-align: left;

        @media #{$breakpoint-not-small} {
            padding-left: 0;
            text-align: center;
        }

    }
}

